  /* Report an Issue */
  
  .flag-hover {
    color: #6c757d; /* Default flag color */
    transition: color 0.3s ease;
  }
  
  .flag-hover-container:hover .flag-hover {
    color: red; /* Flag turns red on hover */
  }
  
  .popup-text {
    display: none;
    position: fixed; /* Use fixed positioning to ensure it's not constrained by container */
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap; /* Ensure text stays in one line */
    z-index: 1000; /* Bring it to the top layer */
    transform: translate(-50%, 5px); /* Center it and move it below the flag */
  }
  
  .flag-hover-container {
    position: relative;
  }
  
  .flag-hover-container:hover .popup-text {
    display: block; /* Show popup text on hover */
  }


/* Map Page */


  .map-sidebar-item {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .map-sidebar-item:hover {
    background-color: #f0f0f0 !important;
  }
  
  .map-sidebar-item.active {
    background-color: #e9ecef !important; /* Use !important to override Bootstrap styles if necessary */
    border-left: 4px solid #007bff; /* Add a left border for more emphasis */
    transition: background-color 0.3s ease, border-left 0.3s ease; /* Smooth transition */
  }

  .custom-popup .leaflet-popup-content-wrapper {
    background-color: white;
    color: #333333;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  }
  
  .custom-popup .leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
  }
  
  .custom-popup .leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
  }
  
  .custom-popup .leaflet-popup-tip {
    background-color: white;
    box-shadow: none;
  }
  
  .custom-popup .leaflet-popup-close-button {
    color: #333333;
    font-size: 16px;
    padding: 4px 4px 0 0;
  }
  
  .custom-popup .leaflet-popup-close-button:hover {
    color: #666666;
  }
  
  .leaflet-popup {
    z-index: 1000 !important;
  }

  
  /* Battery Comparison Page*/

  .battery-card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .battery-card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  /* Ensure the checkbox and flag icon don't grow */
  .battery-card-hover:hover .form-check,
  .battery-card-hover:hover .flag-hover-container {
    transform: scale(0.97);
  }